/*****************************************
* FEATURE COMPONENT STYLES
*****************************************/

@use "../utils/" as *;

.feature {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 30%;

    @include for-mobile {
        width: 100%;
    }

    &-icon {
        width: 12rem;
        border: 1rem solid #00bc77;
        border-radius: 50%;
        padding: 1em;

        @include for-tablet {
            width: 10rem;
        }
    }

    &-title {
        color: #222;
        font-size: 2.5rem;
        font-weight: bold;
        margin: 1em 0;
    }

    &-text {
        font-size: 1.8rem;
    }
}
