/*****************************************
* FOOTER COMPONENT STYLES
*****************************************/

@use "../utils/" as *;

.footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 8rem;
    line-height: 100%;
    text-align: center;
    border-top: 0.2rem solid #ccc;
    padding: 2em;
    font-size: 1.8rem;
}
