/*****************************************
* HERO COMPONENT STYLES
*****************************************/

@use "../utils/" as *;

.hero {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-image: url("../../images/bank-tree.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left -40rem;
    padding: 4em 2em;

    @include for-tablet {
        background-position: left -20rem;
    }

    @include for-mobile {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        background-position: center;
        padding: 2em;
    }

    &-content {
        width: 35rem;
        background: white;
        padding: 2em;
        text-align: left;
        margin-right: 5em;

        @include for-mobile {
            margin-right: 0;
        }

        &-subtitle {
            font-size: 2.4rem;
            font-weight: bold;
        }

        &-text {
            font-size: 2rem;
            margin-top: 1em;
        }
    }
}
