/*****************************************
* HOME PAGE SPECIFIC STYLES
*****************************************/

@use "../utils/" as *;

.home {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 100%;

    &-features {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        padding: 4em;

        @include for-tablet {
            padding: 2em;
        }

        @include for-mobile {
            flex-flow: column nowrap;
            justify-content: start;
            align-items: center;
            row-gap: 2em;
        }
    }
}
