$mobile-first: true; // Switch to false for "desktop-first"
$min-width: 320px; // Used as lower limit for "mobile-first" media query
$max-width: 1366px; // Used as upper limit for "desktop-first" media query
$mobile-breakpoint: 768px;
$tablet-breakpoint: 1025px;
$desktop-breakpoint: 1280px;

$img-object-fit: cover; // Default object-fit setting for all <img>
$transition-time: 0.2s; // Don't go over 0.3ms

$html-font-size: 62.5%; // 62.5% of default HTML font size is 10 px. Used to make rem calculations easier (1 rem is now 10px)
$body-font-size: 1.6rem; // Used with $html-font-size: 62.5% this resets <body> font size to default size of 16px
$resp-font-vw: 0.3vw; // Increment value for responsive font sizing
